          a {
    text-decoration: none;
    color: white;
  }
            h1 {
    font-size: 55px;
  }
        body {
            font-family: Courier-New, sans-serif;
            font-size: 22px;
            margin: 0;
            padding: 91px;
            background-color: #f4f4f4;
            display: flex;
            width: 100%;
        }
        img {
            scale: 100%;
            margin: 10px;
            margin-top: 0px;
            width: 180px;
            height: 180px;
        }
        .fundo {
            width: 1000px;
            background: white;
            padding: 50px;
        }
        .header {
            text-align: ;
            align-items: flex-start;
            padding: 20px;
            background: #241C42;
            color: white;
            width: 95%;
        }
        .arealink {
            text-align: ;
            align-items: flex-start;
            padding: 20px;
            background: #2A3742;
            color: white;
            width: 95%;
        }
        .arealink2 {
            text-align: ;
            align-items: flex-start;
            padding: 20px;
            background: #4D5563;
            color: white;
            width: 95%;
        }
                .area2 {
            flex: 1;
            padding: 10px;
            background: #4D5563;
            margin: 10px;
        }

        .menu {justify-content: center;
              padding: 30px 0;
              margin: 10px;
              position: fixed;
              top: 0; 
              background-color: #2A3742;
              left: 0;
              z-index: 1000;
              width: 100%;
              color: white;
               position: fixed;
    top: 0; 
    left: 0;
    gap: 202px;

        }

        .menulink {
           
           
            color: white;
           padding: 1px;
            border-radius: 11px;
            width: 212px;
            background-color: #4D5563;
            display: auto;
            font-size: 29px;
            margin: 19px;

         
           
        }

